@using System.Web.Mvc.Html
@model IEnumerable<CourseManagementSystem.Models.Subscription>

@{
    ViewBag.Title = "My courses";
}

<h2>My courses</h2>


@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Author)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Author.FirstName)&nbsp;
                    @Html.DisplayFor(modelItem => item.Course.Author.LastName)
                </td>
                <td>
                    @Html.ActionLink("More details", "Details", new { id = item.Course.id })
                </td>
            </tr>
        }

    </table>
}
else
{

    <hr />
    <p style="color:#808080; text-align:center">
        You have no courses yet
    </p>
}

