@using CourseManagementSystem.Models

@model AddCourseModel

@{
    ViewBag.Title = "Create a course";
    var category = new ApplicationDbContext().Categories;
}
@if (User.IsInRole("teacher") || User.IsInRole("admin"))    {
<h2>Create a course</h2>
            
@(Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
        <h4>Enter course information</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = " col-md-4" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, new { @class = "col-md-4" })
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
                @Html.DropDownListFor(model => model.category_id, new SelectList(category, "id", "Name"), new { @class = "col-md-4" })
                @Html.ValidationMessageFor(model => model.category_id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.sertificate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.sertificate)
                @Html.ValidationMessageFor(model => model.sertificate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to list", "Teacher")
</div>
}
else
{
    <h3>
        @Html.Label("No access to this page.")
    </h3>
}