@{
    ViewBag.Title = "QuestionsList";
    List<CourseManagementSystem.Models.Question> questions = ViewBag.Questions;
    List<CourseManagementSystem.Models.Answer> answers = ViewBag.Answers;

    int answersCount = 4;
    int currAnsw = 0;
    int testId = ViewBag.TestId;
}

<h2>QuestionsList</h2>

@model IEnumerable<CourseManagementSystem.Models.Test>

<table class="table">
    <tr>
        <td>
            <h4>Question text</h4>
        </td>
        <td>
            <h4>Answer options</h4>
        </td>
    </tr>

</table>

@if (questions.Count() > 0)
{
    <table class="table">
        @foreach (var item in questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)

                </td>
                <td>
                    @for (int i = 0; i < answersCount; i++)
                    {

                        @Html.DisplayFor(modelItem => answers[currAnsw].Text) 
                        @Html.DisplayFor(modelItem => answers[currAnsw].IsTrue)
                        currAnsw++;
                        <br />
                    }
                
                </td>
                <td>@Html.ActionLink("Delete", "Delete", "Questions", new { id = item.QuestionId, lectId = ViewBag.LectId },null)</td>
            </tr>
        }

    </table>
}
else
{
    <hr />
    <p style="color:#808080; text-align:left">
        There are no questions yet.
    </p>
}

<div class="col-md-9">

    <p>
        @Html.ActionLink("Add Question", "Create", "Questions", new { Id = testId }, null)
    </p>
</div>

<div class="col-md-9">

    <p>
        @Html.ActionLink("Back", "Details", "Course", new { id = ViewBag.CourseId }, null)
    </p>
</div>
