@{
    ViewBag.Title = "Retake";
    IEnumerable<CourseManagementSystem.Models.Question>

        questions = ViewBag.Questions;
}

<script src="/Scripts/testing.js"></script>


<h2>Testing</h2>
@model CourseManagementSystem.Models.Mark


<form action="/Testing/Retake" method="post" class="test">

    <table class="table">
        <tr>

            <td>
                <h4>Question text</h4>
            </td>
            <td>
                <h4>Answer options</h4>
            </td>
        </tr>
    </table>
    @if (questions.Count() > 0)
    {
        <table class="table">

            @foreach (var item in questions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @if (item.Answer.Count(a => a.IsTrue) == 1)
                        {
                            int i = 0;
                            foreach (var itemAnswers in item.Answer)
                            {
                                <span>@itemAnswers.Text</span>

                                <input type="radio" id="@itemAnswers.QuestionId" name="@itemAnswers.QuestionId" value="@itemAnswers.Id"  />
                            }
                        }
                        else
                        {

                            int i = 0;
                            foreach (var itemAnswers in item.Answer)
                            {
                                <span>@itemAnswers.Text</span>
                                <input type="checkbox" id="@itemAnswers.QuestionId" name="@itemAnswers.QuestionId" value="@itemAnswers.Id" onclick="andr(@itemAnswers.QuestionId)"  />
                            }
                        }
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Complete test" class="btn btn-default" />
            </div>
        </div>
    }
    else
    {
        <hr />
        <p style="color: #808080; text-align: left">
            There are no questions yet.
        </p>
    }
</form>
